/* If you are reading this, piss off unless you're someone who is on the webdev team of the C5CC.
Otherwise, you should be here: http://cat5cybercanes.org/ */
nav {
  list-style:none;
  color: #fff;
  text-decoration: none;
  position:relative;
  font: normal 16px Helvetica;
  position:relative;
  transition: 0.5s;
}
nav li a:visited {
  color: #fff;
  text-decoration: none;
  position:relative;
  transition: 0.5s;

}
nav ul {
  list-style: none;
  position: relative;
  text-decoration: none;
  display: block;
  background: #8f8f8f;
  transition: 0.5s;
  position:relative;
  width:87.75%;
}
nav ul:after {
  content: "";
  clear: both;
  display: block;
  transition: 0.5s;
  position:relative;
}
  nav ul li {
  float: left;
  transition: 0.5s;
  padding:1% 4.41%;
  border-style:solid;
  border-color:#8f8f8f;
  border-width:0.25%;
}
nav ul li:hover {
  background-color:#5e5e5e;
  transition: 0.5s;
  position:relative;
  cursor:pointer;
  border-style:ridge;
  border-color:#6B6B6B;
  border-width:0.25%;
}
nav ul li:active {
  background-color:#494949;
  transition: 0.5s;
  position:relative;
  cursor:pointer;
  border-style:ridge;
  border-color:#646464;
  border-width:0.25%;
}

nav ul li a {
  display: block;
  color: #fff;
  transition:0.5s;
  text-decoration:none;
  text-align:center;
    cursor:pointer;
}
nav ul li a:hover {
  display: block;
  color: #fff;
  transition:0.5s;
  text-decoration:none;
  text-align:center;
}
/* nav ul ul {
  padding: 0;
  position: absolute;
  top: 100%;
  position:relative;
}
  nav ul ul li {
    float: none; 
    position: relative;
    transition-delay: 0.5s;
    position:relative;
  }
    nav ul ul li a {
      padding: 16.5%;  
      color: #fff;
      background: linear-gradient(bottom, #555555 0%, #757575 40%);
      background: -moz-linear-gradient(bottom, #555555 0%, #757575 40%);
      background: -webkit-linear-gradient(bottom, #555555 0%,#757575 40%);
      transition-delay: 0.5s;
      position:relative;
    }  
      nav ul ul li a:hover {
        background: #757575;
        transition: 0.5s;
        position:relative;
      }
      nav ul ul ul {
  position: absolute; left: 100%; top:0;
  transition: 0.5s;
} */