/* If you are reading this, piss off unless you're someone who is on the webdev team of the C5CC.
Otherwise, you should be here: http://cat5cybercanes.org/ */
nav {
  list-style:none;
  color: #fff;
  text-decoration: none;
  position:relative;
  font: normal 16px Helvetica;
  position:relative;
  transition: 0.5s;
}
nav li a:visited {
  color: #fff;
  text-decoration: none;
  position:relative;
  transition: 0.5s;

}
nav ul {
  list-style: none;
  position: relative;
  text-decoration: none;
  display: block;
  background: #8f8f8f;
  transition: 0.5s;
  position:relative;
  width:83.25%;
}
nav ul:after {
  content: "";
  clear: both;
  display: block;
  transition: 0.5s;
  position:relative;
}
  nav ul li {
  float: left;
  display: inline-block;
  transition: 0.5s;
  padding:1% 4.41%;

}
nav ul li:hover {
  background-color:#5e5e5e;
  transition: 0.5s;
  position:relative;
  cursor:pointer;
}

nav ul li:active {
  background-color:#494949;
  transition: 0.5s;
  position:relative;
  cursor:pointer;

}

nav ul li a {
  display: block;
  color: #fff;
  transition:0.5s;
  text-decoration:none;
  text-align:center;
  cursor:pointer;
}
nav ul li a:hover {
  display: block;
  color: #fff;
  transition:0.5s;
  text-decoration:none;
  text-align:center;
}

nav ul  ul {
  list-style: none;
  text-decoration: none;
  display: none;
  background-color: rgba(0,0,0,0);
  top:100%;
  left:0;
  position:absolute;
  width:100%;
  z-index:0;
  padding:0 10%;
  transition: 0.5s;
}

nav ul:hover ul {
  display:block;
  z-index:100;
  background-color:#ae5e5e;
  transition: 0.5s;
}

nav ul  ul li {
  display: inline-block;
  float: top; 
  left:0;
  position: relative;
  padding:5% 10%;
  background-color:#ae5e5e;
  transition: 0.5s;
}
nav ul  ul li:hover {
  background: #757575;
  transition: 0.5s;

}

nav ul  ul li a {
  color: #fff;
  display:block;
  transition-delay: 0.5s;
  position:relative;
}
