/* If you are reading this, piss off unless you're someone who is on the webdev team of the C5CC.
Otherwise, you should be here: http://cat5cybercanes.org/ */
nav {
  list-style:none;
  color: #fff;
  text-decoration: none;
  position:relative;
  font: normal 16px Helvetica;
  position:relative;
  transition: 0.5s;
}

nav ul {
  list-style: none;
  position: relative;
  text-decoration: none;
  display: block;
  background: #8f8f8f;
  transition: 0.5s;
  position:relative;
  width:83.25%;
}
nav ul:after {
  content: "";
  clear: both;
  display: block;
  transition: 0.5s;
  position:relative;
}



  nav ul li a{
  text-decoration: none;
  color: #fff;
  float: left;
  display: inline-block;
  transition: 0.5s;
  padding:1% 4.41%;
}
nav ul li a:hover {
  text-decoration: none;
  display: block;
  color: #fff;
  background-color:#5e5e5e;
  transition:0.5s;
  text-align:center;
  cursor:pointer;
}
nav ul li a:active {
  text-decoration: none;
  color: #fff;
  background-color:#494949;
  transition: 0.5s;
  position:relative;
  cursor:pointer;
}
nav ul li a:visited {
  text-decoration: none;
  color: #fff;
  position:relative;
  transition: 0.5s;
}

nav ul li {
  text-decoration: none;
  display: block;
}

nav ul li ul {
  list-style: none;
  text-decoration: none;
  display: none;
  background-color: rgba(0,0,0,0);
  top:100%;
  left:5%;
  width:100%;
  position:relative;
  z-index:0;
  transition: 0.5s;
}

nav ul li:hover ul {
  position:relative;
  display:inline-block;
  float:top;
  z-index:100;
  background-color:#ae5e5e;
  transition: 0.5s;
  width:0;
}

nav ul li ul li {
  display:inline-block;
}
nav ul li ul li a{
  display: inline-block; 
  position: relative;
  text-align:center;
  width:100%;
  float:top;
  padding:10% 20%;
  margin:-5% 0;
  background-color:#ae5e5e;
  transition: 0.5s;
}
nav ul li ul li a:hover {
  display: inline-block;
  color: #fff;
  background-color:#5e5e5e;
  transition:0.5s;
  text-align:center;
  cursor:pointer;
}
nav ul li ul li a:active {
  color: #fff;
  background-color:#494949;
  transition: 0.5s;
  cursor:pointer;
}
nav ul li ul li a:visited {
  color: #fff;
  transition: 0.5s;
}
