/*Buttons for FTC/FTC, in the top left of the page.
Makes the boxes around the text.*/
li.on, li.off {
	list-style:none;
	display:inline-block;
	padding: 1% 2%;
	text-decoration:none;
	text-shadow: 2px 2px 5px #636363;
}
/*Makes text look nice*/
li.off a {
	text-decoration:none;
	color: #fff;
	cursor:default;
}
li.on a {
	text-decoration:none;
	color: #fff;
	cursor:pointer;
}
/*Makes sure the link, if visited, doesn't change.*/
li.on a:visited, li.off a:visited {
	text-decoration:none;
	color: #fff;
	text-shadow: 2px 2px 5px #636363;
	font-size: 20px;
}
/*Stuff for button on*/
li.on {
  text-shadow: 2px 2px 5px #636363;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #691d1d;
  padding: 10px 20px;
  border: solid #704757 0px;
  text-decoration: none;
  transition: 0.5s;
  
}
/*Makes it look different when you hover over it*/
li.on:hover {
  background: #5e5e5e;
  text-decoration: none;
  transition: 0.5s;
  cursor:pointer;
}
/*Stuff for button off*/
li.off {
  text-shadow: 2px 2px 5px #636363;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #8f8f8f;
  padding: 10px 20px;
  text-decoration: none;
  border: solid #704757 0px;
}

/* Button css for normal buttons*/
li.btn {
  text-shadow: 2px 2px 5px #636363;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #8f8f8f;
  padding:1% 2%;
  text-decoration: none;
  border: solid #704757 0px;
	list-style:none;
	display:inline-block;
	text-decoration:none;
	text-shadow: 2px 2px 5px #636363;
	transition: 0.5s;
	cursor:pointer;
}
li.btn a {
	text-decoration:none;
	color: #ffffff;
}
li.btn a:visited {
	text-decoration:none;
	color: #ffffff;
	text-shadow: 2px 2px 5px #636363;
	font-size: 20px;
}
li.btn:hover {
	background: #5e5e5e;
	text-decoration: none;
	transition: 0.5s;
}

/* Disabled button */
li.btnd {
  text-shadow: 2px 2px 5px #636363;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #8f8f8f;
  padding:1% 2%;
  text-decoration: none;
  border: solid #704757 0px;
	list-style:none;
	display:inline-block;
	text-decoration:none;
	text-shadow: 2px 2px 5px #636363;
	transition: 0.5s;
}
li.btnd a {
	text-decoration:none;
	color: #ffffff;

	
}
	
li.btnd a:visited {
	text-decoration:none;
	color: #ffffff;
	text-shadow: 2px 2px 5px #636363;
	font-size: 20px;
}



